* { margin: 0; padding: 0; }
body { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; background-color: #fff; overflow: auto; color: #000; font-size: 20px; }
h1 { font-weight: normal; margin-bottom: 30px; color: #000; font-size: 40px; }
a { text-decoration: underline; color: #111; padding: 0.3em; }
a:hover { color: #444; }
#container { width: 100%; text-align: center; margin: 100px 0;  background-repeat:no-repeat;  background-position: 8em center ; background-color:white; height:300px;
}     div { padding: 0.5em; }
img { max-width: 97%; }
